@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


body {
  font-family: var(--font-family);
}

#about aside {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: start;
}

#about aside img {
  width: 35rem;
  height: 26rem;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 3.5rem;
}

#about main {
  display: flex;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 1119px) {
  #about main {
    flex-direction: column;
  }

  #about main aside {
    padding-bottom: 4rem;
  }

  #about aside img {
    width: 100%;
    max-width: 50rem;
    object-fit: cover;
  }

  .downTab {
    max-width: 80%;
    margin: 1rem 7rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

#about header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
}

#about header h4 {
  font-family: Kaushan Script;
  color: blue;
  font-size: 4rem;
}

#about header h1 {
  font-family: Kaushan Script;
  color: lightskyblue;
  font-size: 6rem;
}

#about article {
  border-color: whitesmoke;
  background: whitesmoke;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 12rem;
}

#about article:hover {
  cursor: pointer;
}

#about svg {
  color: lightskyblue;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#about article h5 {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: lightskyblue;
}

#about article small {
  font-size: 0.8rem;
  color: black;
}

#about section div {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  #about section div {
    flex-direction: column;
  }

  #about article {
    height: 12rem;
    width: 20rem;
    align-items: center;
    margin: 1rem auto 1rem auto;
  }

  #about section p {
    width: 20rem;
  }

  #about main {
    align-items: center;
  }
}

#about section p {
  margin: 1rem 1rem;
  padding: 0.5rem 2rem;
  border-color: whitesmoke;
  background: whitesmoke;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  font-weight: bold;
  text-indent: 1rem;
  line-height: 1.75rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
}