body {
  font-family: var(--font-family);
}

#about aside {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: start;
}

#about aside img {
  width: 35rem;
  height: 26rem;
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 3.5rem;
}

#about main {
  display: flex;
  background: whitesmoke;
  align-items: start;
  flex-direction: row;
}

@media (max-width: 1119px) {
  #about main {
    flex-direction: column;
  }

  #about main aside {
    padding-bottom: 4rem;
  }

  #about aside img {
    width: 100%;
    max-width: 35rem;
  }
}

#about header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: whitesmoke;
  padding: 2rem;
}

#about header h4 {
  color: blue;
  font-size: 30px;
}

#about header h1 {
  color: lightskyblue;
  font-size: 40px;
}

#about article {
  background: rgb(39, 56, 55);
  color: white;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
  height: 12rem;
  
}

#about article:hover {
  background: transparent;
  border-color: lightblue;
  cursor: default;
}

#about svg {
  color: lightskyblue;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#about article h5 {
  font-size: 0.95rem;
  color: white;
}

#about article small {
  font-size: 0.7rem;
  color: lightskyblue;
}

#about section div {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 700px) {
  #about section div {
    flex-direction: column;
  }

  #about article {
    height: 12rem;
    align-items: center;
    margin: 1rem auto 1rem auto;
  }
}

#about section p {
  margin: 1rem auto;
  padding: 1rem 2rem;
  color: rgb(20, 94, 231);
  font-weight: bold;
  text-align: justify;
  text-indent: 1rem;
  line-height: 1.75rem;
}

@media (max-width: 1119px) {
  #about section p {
    max-width: 80%;
  }
}