#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  box-shadow: 1px 2px 5px #333;
}

@media screen and (max-width: 700px) {
  #navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  #navbar {
    padding: 2rem;
  }

  #navbar article {
    display: none;
  }


  #navbar main nav {
    top: 20px;
  }

  #navbar main nav div {
    display: block;
  }
}

#navbar header {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navbar header p {
  color: white;
  font-weight: 900;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar header aside {
  display: flex;
  justify-content: row;
  margin-left: 5rem;
}

#navbar header aside p,
#navbar article p {
  color: white;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

#navbar article img {
  width: 1.5rem;
  height: 1.5rem;
}

#navbar article {
  display: flex;
}

#navbar main {
  margin-left: 1rem;
  display: none;
  position: relative;
}

#navbar main svg {
  cursor: pointer;
}

#navbar main nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: radial-gradient(circle at 3% 50%, rgba(0, 156, 207, 1) 0%, rgba(16, 20, 107, 1) 100%);
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  font-family: var(--font-family);
  z-index: 999;
  box-shadow: 0px 1px 8px 1px rgba(0,0,0,1);
}

#navbar main nav p {
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  #navbar header aside {
    display: none;
  }

  #navbar main {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  #navbar {
    padding: 2rem;
  }

  #navbar article {
    display: none;
  }


  #navbar main nav {
    top: 20px;
  }

  #navbar main nav div {
    display: block;
  }
}

#navbar nav div a {
  display: flex;
  flex-direction: column;
}

#navbar nav div a:hover {
  border-bottom: 2px solid white;
}